#wrapper,
.navbar-default {
	background-color: #EEE;
}
.navbar-default { border: 0; }

.navbar-default { opacity: 0.9;  }
.navbar-header, .navbar-collapse { opacity: 1;  }

.tweet {
	padding: 5px;
}
.tweet .tweet-text {
	padding: 0 5px;
}
.tweet .user-name {
	font-size: 1em;
}
.tweet .btn {
	border: 0px;
}


.box {
	position: relative;
	overflow: hidden;
}
.text {
}
.text > div {
	position: absolute;
	margin: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	min-height: 1px;
	background: white;
	//-webkit-transition: .3s;
	//transition: .3s;
	color: #333;
	/*text-align: center;*/
}
.text > div {
	bottom: 0;
	visibility: hidden;
}
.box:hover .text > div {
	visibility: visible;
}

.video-thumb {
  position: relative;
}
.video-thumb:before {
	content: '';
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow:0px 0px 50px 0px rgba(255, 255, 255, 0.7);

	display: block;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	position: absolute;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.video-thumb:after {
  content: '';
  background-image: url('play.svg');
  background-size: cover;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.jumbotron {
	height: 400px;
	background-image: url('bg.jpg');
	background-size: cover;
	background-position	center 60%;
	/*
	-webkit-filter: saturate(120%);
    filter: saturate(120%);
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	*/
}

.box {
	position: relative;
	overflow: hidden;
}
.text {
}
.text > div {
	position: absolute;
	margin: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	min-height: 1px;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	//transition: .3s;
	color: white;
	/*text-align: center;*/
}
.text > div {
	bottom: 0;
	visibility: hidden;
}
.box:hover .text > div {
	visibility: visible;
}
.tweet {
	border: 0;
	padding: 0;
	background: #FFF;
	//overflow: hidden;
}
.tweet-media-box {
	margin-bottom: 7px;
}	
.tweet-media-box:first-child .tweet-img {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;

	max-height: 100%;
	max-width: 100%;

	margin-right: auto;
	margin-left: auto;
	
	display: block;

	cursor: pointer;
	/*margin-bottom: 0;*/
}
.tweet-text {
	color: #333;
	margin-bottom: 15px;
}
.tweet-tag {
	margin: 0;
	padding: 0;
	font-size: 0;
	margin-bottom: 15px;
}
.tweet-tag li {
	font-size: 14px;
	font-weight: 300;
	margin-right: 10px;
	display: inline-block;
}
.tweet-tag li:before {
	content: "#";
}
.tweet-status {
	font-weight: 400;
}
.tweet-status p {
	margin: 0;
}
.tweet-status .unfav:hover {
	color: #dc143c;
}

a {
	color: #a7a7a7;
} a:hover {
	color: #787878;
}

.top {
	height: 100vh;
	width: 100%;
	background-color: #aeaeae;
}
.middle-box {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.top-logo {
	color: white;
	font-size: 4em;
	margin-bottom: 2px;
	font-family: 'Pacifico', cursive;
}
.top-sub {
	color: white;
	font-size: 3em;
	margin-top: 2px;
	margin-bottom: 40px;
	font-family: sans-serif;
}